{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>Make a reservation</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        {% csrf_token %}
        <form method="POST" id="form">
          {% csrf_token %}
          <p>
            <label for="first_name">Name:</label>
            <input
              type="text"
              placeholder="Your Name"
              maxlength="200"
              required=""
              id="first_name"
            />
          </p>
          <p>
            <!-- Step 9: Part one -->
            <label for="first_name">Reservation Date:</label>
            <input type="Date" required="" id="reservation_date" />
          </p>

          <p>
            <label for="reservation_table">Reservation time:</label>
            <select id="reservation_table">
              <option value="0" disabled>Select time</option>
            </select>
          </p>
          
          <button type="button" id="button">Reserve</button>
        </form>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <h2>Bookings For <span id="today"></span></h2>
        <div id="bookings"></div>
        <div class="videowrap">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11898.289517452584!2d-87.60853049433447!3d41.79442860243028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2912ce6f7027%3A0xc0cfb5545d4a37b2!2sHyde%20Park%2C%20Chicago%2C%20IL%2C%20USA!5e0!3m2!1sen!2spt!4v1662384760663!5m2!1sen!2spt"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
<script>
  const date = new Date();

  const day = new Date().toLocaleString("en-US", { day: "2-digit" });
  const month = new Date().toLocaleString("en-US", { month: "2-digit" });
  const year = new Date().getFullYear();
  document.getElementById("reservation_date").value = `${year}-${month}-${day}`;


  /*  Step 10: Part two */
  document
    .getElementById("reservation_date")
    .addEventListener("change", getBookings);

  function getBookings() {
    let reservation_table = [];
    const date = document.getElementById("reservation_date").value;
    document.getElementById("today").innerHTML = date;

    fetch("{% url 'bookings' %}" + "?date=" + date)
      .then((r) => r.json())
      .then((data) => {
        reservation_table = [];
        bookings = "";

        for (item of data) {
          reservation_table.push(item.fields.reservation_table);
          bookings += `<p>${item.fields.first_name} - ${formatTime(
            item.fields.reservation_table
          )}</p>`;
        }

        table_options = '<option value="0" disabled>Select time</option>';
        console.log("Slots: ", reservation_table);
        for (let i = 11; i < 20; i++) {
          const label = formatTime(i);
          if (reservation_table.includes(i)) {
            table_options += `<option value=${i} disabled>${label}</option>`;
          } else {
            table_options += `<option value=${i}>${label}</option>`;
          }
        }

        document.getElementById("reservation_table").innerHTML = table_options;
        if (bookings == "") {
          bookings = "No bookings";
        }
        document.getElementById("bookings").innerHTML = bookings;
      });
  }

  function formatTime(time) {
    const ampm = time < 12 ? "AM" : "PM";
    const t = time < 12 ? time : time > 12 ? time - 12 : time;
    const label = `${t} ${ampm}`;
    return label;
  }

  document.getElementById("button").addEventListener("click", function (e) {
    const formdata = {
      first_name: document.getElementById("first_name").value,
      reservation_date: document.getElementById("reservation_date").value,
      reservation_table: document.getElementById("reservation_table").value,
    };

    fetch("{% url 'bookings' %}", {
      method: "post",
      body: JSON.stringify(formdata),
    })
      .then((r) => r.text())
      .then((data) => {
        getBookings();
      });
  });
</script>
{% endblock %}
